@{
    ViewData["Title"] = "Accomodation";
}

<div id="singleRoom" class="container">
    <div class="row">
        <div class="col">
            <img src="~/Images/singleRoom.jpg" width="450" height="250" />
        </div>
        <div class="col">
            <h2>Единична стая</h2>
            <h3>Цена: 75,00лв.</h3>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Accomodation" asp-action="SingleRoom">Повече информация</a>
            
        </div>
    </div>
</div>
