@{
    ViewData["Title"] = "SingleRoom";
}
<div id="singleRoomView" class="container">
    <div class="row">
        <div class="col">
            <img src="~/Images/singleRoomView1.jpg" width="500px;"/>
        </div>

        <div class="col">
            <h1>Единична стая</h1>
            <ul class="social-network social-circle" style="list-style: none;">
                <li><a><i class="fa fa-bed"></i>Единично легло</a></li>
                <li><a><i class="fa fa-bathtub"></i>Баня с душ</a></li>
                <li><a><i class="fa fa-bell"></i>Руум сървиз 24/7</a></li>
                <li><a><i class="fa fa-binoculars"></i>Изглед към морето</a></li>
                <li><a><i class="fa fa-wifi"></i>Безжичен интернет</a></li>
                <li><a><i class="fa fa-tv"></i>LCD Телевизор</a></li>
                <li><a><i class="fa fa-phone"></i>Телефон</a></li>
                <li><a><i class="fa fa-fa fa-snowflake-o"></i>Климатик</a></li>
                <li><a><i class="fa fa-thermometer-full"></i>Парно</a></li>
            </ul>
        </div>
    </div>
</div>
    