a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    border-color: darkgray;
}

.navbar-toggler-icon {
    color: grey;
}



#sticknav {
    background-color: seashell;
}


li {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}

.row{
    margin-top: 20px;
}

#firstSectionHome {
    margin-top: 10px;
    border: double;
    border-color: #343a40 /*#ffc107*//*burlywood*/;
    padding-bottom: 16px;
}

    #firstSectionHome img {
        width: 100%;
        height: 100%;
    }

h1, h2, h3{
    font-family: 'Special Elite', cursive;
}

p, a {
    font-family: 'Cardo', serif;
}

#accountTab {
    margin-top: -5px;
}

#loggedInFontChange{
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}
.navbar-nav li a {
 line-height: 30px;
 align-content: center;
}

#rightTabsNavbar {
    margin-top: 6px;
}


.sticky {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    height: 90px;
}
/*ConfHall*/

/*#carouselExampleIndicators {
    height:900px;
}*/

#conferenceHall img {
    max-height: 500px;
    width: 100%;
}

#hallDescription {
    text-align:center;
}
/*Rooms*/
#singleRoom {
    margin-top: 10px;
    border: solid;
    background-color: seashell;
    border-color: antiquewhite;
    padding-bottom: 16px;
}

    #singleRoom:hover {
        border-color: burlywood;
    }

    #singleRoom h2 {
        left: 0;
        margin-top: 70px;
        color: burlywood;
    }

    #singleRoom img {
        width: 100%;
        height: 100%;
    }

#singleRoomView, #conferenceHall {
    margin-top: 10px;
    border: solid;
    background-color: seashell;
    border-color: antiquewhite;
    padding-bottom: 16px;
}

    #singleRoomView h2 {
        color: burlywood;
    }

    #singleRoomView a {
        font-size: 16px;
    }

    #singleRoomView img{
        width: 100%;
        height: 100%;
    }


    html {
        font-size: 14px;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


  
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



body {
    background-color: antiquewhite;
}


@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

html {
    position: relative;
}

/*Footer*/

footer {
    padding-top: 30px;
    background-color: seashell;
    color: #bbb;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 0;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    padding: 0.7em 1em;
}

ul {
    list-style: none;
}

    ul > li > a {
        font-size: 19px;
        color: grey;
        text-decoration: none;
        line-height: 1.8;
    }

        ul > li > a:hover,
        a:hover {       
            color: #ff6600;
        }

.fa {
    color: #304f50;
    margin-right: 10px;
    width: 2.25rem;
}

#address {
    font-size:15px;
}

