a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    border-color: darkgray;
}

.navbar-toggler-icon {
    color: grey;
}

#leftTabsNavbar{
    margin-bottom: 8px;
}

#profileButton {
    padding-right: 10px;
}

#sticknav {
    background-color: seashell;
}


li {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}

.row{
    margin-top: 20px;
}

#homeSection {
    margin-top: 10px;
    border: double;
    border-color: #343a40 /*#ffc107*/ /*burlywood*/;
    padding-bottom: 16px;
}

h1, h2, h3{
    font-family: 'Special Elite', cursive;
}

#homeSection p {
    color: grey;
}

#homeSection h1 {
    color: burlywood;
}

p, a {
    font-family: 'Cardo', serif;
}

#accountTab {
    margin-top: -5px;
}

#loggedInFontChange{
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}
.navbar-nav li a {
 line-height: 30px;
 align-content: center;
}

/*Inside Profile Options*/

#profileSettingsButtons li :hover {
    color: rgba(21, 16, 16, 0.99);
    border: solid;
    border-color: rgba(21, 16, 16, 0.99);
}

#email-verification{
    margin-top: 15px;
}

#profile-form,
#email-form,
#change-password-form {
    margin-left: 15px;
}

    #change-password-form button,
    #profile-form button,
    #change-email-button {
        margin-left: -15px;
    }


    .sticky {
        top: 0;
        z-index: 100;
        position: fixed;
        width: 100%;
        opacity: 0.9;
        height: 90px;
    }

/*Contacts*/

#contacts a {
    font-size: 20px;
    color: grey;
}

#contacts i {
    font-size: 23px;
}

#contactsForm {
    margin-top: 30px;
    border: double;
    border-color: #343a40
}

#contactsForm iframe{
    width: 100%;
}

/*Restaurant*/
#restaurant h2 {
    color: burlywood;
}

#restaurant p {
    color: grey;
}

/*Spa*/

#spa h2 {
    color: burlywood;
}

#spa p {
    color: grey;
}

/*ConfHall*/

#conferenceHall img {
    max-height: 500px;
    width: 100%;
}

#conferenceHall p {
    color: grey;
}

#hallDescription {
    text-align:center;
}

/*Rooms*/
#singleRoom {
    margin-top: 10px;
    border: solid;
    background-color: seashell;
    border-color: antiquewhite;
    padding-bottom: 16px;
}

    #singleRoom:hover {
        border-color: burlywood;
    }

    #singleRoom h2 {
        left: 0;
        margin-top: 70px;
        color: burlywood;
    }



#reserveHeader h2 {
    color: burlywood;
}


#singleRoomView,
#conferenceHall,
#restaurant,
#spa,
#conferenceHallReserveForm {
    margin-top: 10px;
    border: solid;
    background-color: seashell;
    border-color: antiquewhite;
    padding-bottom: 16px;
}

    #singleRoomView h2 {
        color: burlywood;
    }

    #singleRoomView a {
        font-size: 16px;
        color: grey;
    }

    html {
        font-size: 14px;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*login*/
#userAccountViewButton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#userAccountView {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Images*/

#singleRoomView img,
#singleRoom img,
#homeSection img,
#restaurantImgSlider img,
#spaImgSlider img,
#confHallReserveSlider img{
    width: 100%;
    height: 100%;
}

  
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



body {
    background-color: antiquewhite;
}


@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

html {
    position: relative;
}

/*Footer*/

footer {
    padding-top: 30px;
    background-color: seashell;
    color: #bbb;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 0;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    padding: 0.7em 1em;
}

ul {
    list-style: none;
}

    ul > li > a {
        font-size: 19px;
        color: grey;
        text-decoration: none;
        line-height: 1.8;
    }

        ul > li > a:hover,
        a:hover {       
            color: #ff6600;
        }

.fa {
    color: #304f50;
    margin-right: 10px;
    width: 2.25rem;
}

#address {
    font-size:15px;
}

/*Reserve Room Form*/
.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

.form-group {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#conferenceHallReserveForm a {
    margin-left: 60px;
}