a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    border-color: darkgray;
}

.navbar-toggler-icon {
    color: grey;
}


#footer{
    position: absolute;
}


#sticknav {
    background-color: seashell;
}


li {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}

.row{
    margin-top: 20px;
}

#firstSectionHome {
    margin-top: 10px;
    border: double;
    border-color: #343a40 /*#ffc107*//*burlywood*/;
    padding-bottom: 16px;
}

h1 {
    font-family: 'Special Elite', cursive;
}

p {
    font-family: 'Cardo', serif;
}

#accountTab {
    margin-top: -5px;
}

#loggedInFontChange{
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}
.navbar-nav li a {
 line-height: 30px;
 align-content: center;
}

#rightTabsNavbar {
    margin-top: 6px;
}


.sticky {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    height: 90px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


  
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: antiquewhite;
}


/*Footer*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }

    .footer {
        height: 500px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-top: 30px;
    background-color: seashell;
    color: #bbb;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 24px;
}


    footer .form-control {
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        padding: 0.7em 1em;
    }

#logoFooter {
    margin-right: 315px;
}