@using ParadiseGuestHouse.Common
@{
    this.ViewData["Title"] = "Home Page";
}

    <link href="https://fonts.googleapis.com/css?family=Special+Elite|Cardo&display=swap" rel="stylesheet">

<div id="firstSectionHome" class="container">
    <div class="row">
        <div class="col">
            <img src="~/Images/homePageFirstSection.jpg" width="600" height="400" />
        </div>
        <div class="col">
            <h1>Услуги в хотела</h1>
            <p>
                Парадайс Хотел София разполага с 70 стаи, ресторант, 3 конферентни зали с безплатен високоскоростен интернет, лоби бар, СПА център за релакс и възстановяване, паркинг.
                Гостите на хотела могат да се възползват от:
                Безплатен безжичен интернет;
                Безплатна сауна,парна баня и джакузи, зона за релакс;
                Безплатно кафе, чай от мини бара в стаята.
                На разположение на гостите са: паркинг с 15 места; 24-часова рецепция; възможност за настаняване на хора с увреждания, обслужване по стаите, стая за съхранение на багаж, събуждане – при поискване, пране и гладене, химическо чистене, обмяна на валута, организиране на трансфери от и до Летище София, коли под наем, екскурзии, атракции и обиколки в София и страната.
            </p>
        </div>
    </div>
</div>

<div id="firstSectionHome" class="container">
    <div class="row">
        <div class="col">
            <h1>За ваша информация</h1>
            <p>
                Цените включват закуска, застраховка, ДДС, безплатен интернет, безплатно кафе, чай и сметана от минибара в стаята,
                безплатно ползване на сауна, парна баня, джакузи, зона за релакс.  Туристическата такса се начислява допълнително.
                Гостите на хотела се възползват от 10% отстъпка в ресторанта. Деца до 2 години (включително) нощуват безплатно.
                Деца от 3 до 12 години без допълнително легло нощуват безплатно. Деца от 3 до 12 години на допълнително легло се таксуват.
                Цени за групи – по запитване.
            </p>

            <ul class="navbar-nav ml-auto text-right m-3">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="Accomodation" asp-action="Index">Видове стаи</a>
                </li>
            </ul>

        </div>

        <div class="col">
            <img src="~/Images/homePageSecondSection.jpg" width="600" height="400" />
        </div>

    </div>
</div>

<div id="firstSectionHome" class="container">
    <div class="row">
        <div class="col">
            <img src="~/Images/thirdSectionHome.jpg" width="600" height="400" />
        </div>
        <div class="col">
            <h1>Конферентни зали</h1>
            <p>
                Парадайс Хотел София разполага с 3 конферентни зали с безплатен високоскоростен интернет и съвременно техническо оборудване. Всички зали са с дневна светлина.
            </p>

            <ul class="navbar-nav ml-auto text-left">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="ConferenceHall" asp-action="Index">Видове зали</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div id="firstSectionHome" class="container">
    <div class="row">
        <div class="col">
            <h1>Ресторант</h1>
            <p>
                Централ Хотел София разполага с ресторант с капацитет от 130 места, 
                който предлага разнообразни ястия и напитки, уютна атмосфера и стилна обстановка. 
                Ресторантът е подходящ за организирането на сватби, рождени дни, абитуриентски балове, 
                корпоративни събития, фирмени тържества, коктейли, бизнес срещи.
            </p>

            <ul class="navbar-nav ml-auto text-right m-3">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="Restaurant" asp-action="Index">Към ресторанта</a>
                </li>
            </ul>
        </div>

        <div class="col">
            <img src="~/Images/forthSectionHome.jpg" width="600" height="400" />
        </div>

    </div>
</div>


