
<h5>Разкажете ни за Вашето прекарване</h5>
<form asp-controller="Feedback" asp-action="Send">
    <fieldset class="form-group">
        <input @*asp-for="Email"*@ class="form-control" id="exampleInputEmail1" placeholder="Въведете E-Mail">
        <span @*asp-validation-for="Email"*@ class="text-danger"></span>
    </fieldset>
    <fieldset class="form-group">
        <textarea @*asp-for="Message"*@ class="form-control" id="exampleMessage" placeholder="Вашето съобщение."></textarea>
        <span @*asp-validation-for="Message"*@ class="text-danger"></span>
    </fieldset>
    <fieldset class="form-group text-xs-right">
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Feedback" asp-action="Send">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>Изпрати
        </a>
    </fieldset>
</form>
