@using ParadiseGuestHouse.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <!-- Navigation -->

        <nav id="sticknav" class="navbar navbar-expand-lg h-auto py-md-1">
            <div id="leftTabsNavbar" class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Room" asp-action="All">РЕЗЕРВИРАЙ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Index">Хотел</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Room" asp-action="All">Настаняване</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="ConferenceHall" asp-action="Index">Конферентни зали</a>
                </ul>
            </div>
            <div class="mx-auto my-2 order-0 order-md-1 position-sticky">
                <a class="mx-auto" href="#">
                    <img id="logo" src="~/Images/kisspng-hotel-euclidean-vector-icon-vector-hotels-5a7c3e0ce378d2.0899997515180917889317.png" class="rounded-circle" width="120" height="120">
                </a>
                <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="rightTabsNavbar" class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-3">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Restaurant" asp-action="Index">Ресторант</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Spa" asp-action="Index">Спа</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" asp-area="" asp-controller="Contact" asp-action="Index">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>

            </div>
        </nav>

    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div id="footerColor" class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <h5>Paradise Guest House</h5>
                    <div class="row">
                        <a class="mx-auto">
                            Хотел "Парадайс" е луксозен хотелски комплекс, изграден в модерен средиземноморки стил и разположен на самия бряг в кв. Юрта, гр. Свети Влас.
                        </a>
                    </div>

                </div>

                <div class="col-md-4 mb-3">
                    <h5>Разкажете ни за Вашето прекарване</h5>
                    <form asp-controller="Feedback" asp-action="Send">
                        <fieldset class="form-group">
                            <input type="text" name="firstName" class="form-control" id="exampleInputEmail1" placeholder="Въведете име">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" name="lastName" class="form-control" id="exampleInputEmail1" placeholder="Въведете фамилия">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea type="text" name="message" class="form-control" id="exampleMessage" placeholder="Вашето съобщение."></textarea>
                        </fieldset>
                        <fieldset class="form-group text-xs-right">
                            <input type="submit" value="Изпрати" class="btn btn-outline-dark" asp-area="" asp-controller="Feedback" asp-action="Send">
                        </fieldset>
                    </form>
                </div>

                <div class="col-md-3 mb-3 mx-auto">
                    <h5><i id="footerContact"></i>Контакти</h5>
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a class="text-black-50 text-center">+359-456-789-1</a>
                        </li>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a id="address" class="text-black-50 text-center">8240 Свети Влас, ул. Люлин № 4, Юрта</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-square" aria-hidden="true"></i>
                            <a class="text-black-50 text-center" href="/Contact/Index">Пиши ни!</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 mb-3">
                    <h5>Последвай ни</h5>
                    <ul class="social-network social-circle" style="list-style: none;">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}